/**
 * Helper mixins
*/

// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  } @else if $point == small {
    @media (max-width: 1279px) { @content; }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

@mixin h1-60-60 {
  font-family: Opensans-extrabold, sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 36px;
    line-height: 50px;
  }
}

@mixin h1-58-68 {
  font-family: Opensans-extrabold, sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 68px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 36px;
    line-height: 50px;
  }
}

@mixin h1-46-53 {
  font-family: Opensans-extrabold, sans-serif;
  font-weight: 800;
  font-size: 46px;
  line-height: 53px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 36px;
    line-height: 50px;
  }
}


@mixin h2-32-46 {
  font-family: Opensans-extrabold, sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 46px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 28px;
    line-height: 46px;
  }
}

@mixin h3-24-32 {
  font-family: Opensans-extrabold, sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin h3-24-33 {
  font-family: Opensans-bold, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin subtitle-26-37 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 37px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 16px;
    line-height: 32px;
  }
}

@mixin subtitle-24-33 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;

  @media (max-width: $mobileBrakepoint) { 
    font-size: 16px;
    line-height: 22px;
  }
}

@mixin content-24-33 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

@mixin content-18-32 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

@mixin content-18-25 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

@mixin footer-18-25 {
  font-family: Opensans-semibold, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

@mixin stepper-16-24 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

@mixin footer-14-25 {
  font-family: Opensans-semibold, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

@mixin footer-14-20 {
  font-family: Opensans-normal, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

@mixin link-18-25 {
  font-family: Opensans-extrabold, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}


//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}


