$desctopPadding: 104px;
$tabletPadding: 32px;
$mobilePadding: 20px;

html{
  color: #333;
}

body{
  overflow-x: hidden;
}

.wrapper { 
  position: relative;
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;

   @media (max-width: 1920px) { 
      padding: 0 $desctopPadding;
  }

  @media (max-width: 1024px) { 
    padding: 0 $tabletPadding;
  }

  @media (max-width: $mobileBrakepoint) { 
    padding: 0 $mobilePadding;
  }
}

.button{
  @include content-18-25;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 4px;
  cursor: pointer;

  &.__default{
    background: #AAF4EB80;
    border: 1px solid #258B98;
    
    &:hover{
      background-color: #AAF4EB;
    }
  } 
  
  &.__primary{
    color: #fff;
    background: #258B98;
    border: 1px solid #258B98;
    
    &:hover{
      background-color: #0C606A;
    }

    &:active{
      background-color: #00424A;
    }
  }
}

.link{
  color:#258B98;
  border-bottom: 1px solid #258B98;

  &:hover{
    color: #0C606A;
    border-bottom: 1px solid #0C606A;
  }
}

.navLink{
  display: inline-block;
  @include content-18-25;
  cursor: pointer;
  padding: 7px 14px 9px;
  border-radius: 4px;

  &:hover{
    background-color: rgba(255, 231, 121, 0.5);
    @include link-18-25;
  }
}

.inputDefault{
  @include subtitle-24-33;
  border: 1px solid #4AD4CB;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #fff;
}

.formSubscription{
  height: 64px;
  display: flex;

  input{
    height: 100%;
    padding: 16px;
    width: 320px;
    margin-right: 16px;
  }

  button{
    padding: 20px 24px;
  }
}

.textBlockSecond{
  width: 53%;

  .header{
    @include h2-32-46;
    margin-bottom: 32px;
  }

  .subtitle{
    @include subtitle-26-37;
    display: block;
  }

}


.hidden{
  visibility: hidden;
}

.animate{
  visibility: initial;
}

// main section

.mainSection{
  height: 772px;
  position: relative;
  margin-bottom: 248px;
  background: linear-gradient(90deg, rgba(150, 251, 196, 0.2) 0%, rgba(249, 245, 134, 0.2) 100%);

  .headerNav{
    margin-bottom: 60px;

    @media (max-width: $mobileBrakepoint) { 
      font-size: 16px;
    }

    .naviagtion{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 26px;

      .navBlock{
        display: flex;
        align-items: center;
        width: 50%;
        
        @media (max-width: $mobileBrakepoint) { 
          & > img{
            width: 144px;
          }
        }

        & > span {
          flex: 1 1;
        }

        &.__left{
          max-width: 600px;
          .navLink{
            text-align: right;
          }

          .first{
            margin-left: 40px;
          }
        }
        
        &.__right{
          display: flex;
          justify-content: flex-end;
          max-width: 250px;

          .first{
            margin-right: 1;
          }

          .burger{
            display: none;
          }
        }

      }
      
      @media (max-width: 1024px) {
        span, .button{
          display: none;
        }

        .burger{
          display: block !important;
        }
      }
    }
  }

  .mainBlock{
    position: relative;
    .textBlock{
      max-width: 530px;
      z-index: 1;

      .header{
        @include h1-60-60;
        margin-bottom: 32px;

        @media (max-width: $mobileBrakepoint) { 
          margin-bottom: 24px;
        }
      }

      .description{
        @include subtitle-26-37;
        display: inline-block;

        @media (max-width: $mobileBrakepoint) { 
          margin-bottom: 0;
          @include content-18-32;
        }
        margin-bottom: 32px;
      }

      &.hidden{
        opacity: 0;
      }
      
      &.animate{
        .header, .description{
          @include mainTextAnimation;
        }

        .list{
          @include listAnimation;
        }

      }
      
      .list {
        margin-bottom: 32px;
        @include content-18-32;
        li{
          display: flex;

          img{
            margin-right: 8px;
          }
        }
      }
    }

    .image{
      position: absolute;
      top: 0;
      &.__right{
        right: 0;
      }
      &.__main{
        top: -62px;
        right: $desctopPadding;

        @media (max-width: 1300px) {
          top: auto;
          bottom: 0;
          img, svg {
            width: 550px;
          } 
        }

        @media (max-width: 520px) {
          img, svg {
            width: 100% !important;
          } 
        }

        @media (max-width: 1200px) {
          img, svg {
            width: 450px;
          } 
        }

        @media (min-width: 1600px) {
          img, svg {
            transform: scale(1.1);
          } 
        }
      }

      &.notMobile{
        display: none;

        @media (max-width: 980px) { 
          right: 10px;
        }

        @media (min-width: 891px) { 
          display: inline-block;
        }
      }

      &.mobile{
        visibility: hidden;


        @media (max-width: 890px) {
          visibility: initial;

          svg{
            height: 420px;
          }

          top: auto;
          right: auto;
          display: block;
          position: relative;
        }
      }

    }

    .image.animate{
      @include lampGirlAnimation;
    }

  }

  &::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 84px;
    bottom: -42px;
    transform: rotate(-180deg);
    background: linear-gradient(180deg, #FFFFFF 38.39%, rgba(255, 255, 255, 0) 100%);
  }

  @media (max-width: 890px) { 
    height: auto;
    padding-bottom: 89px;
    margin-bottom: 60px;

    .mainBlock{
      .textBlock{
        max-width: 100%;

        .description{
          margin-bottom: 0;
        }
      }

      .listImgContainer{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;

        @media (max-width: 760px) { 
          display: block;
        }

        .list{
          flex: 1 1;
        }
      }

    }
  }
}

// second section ----------------

.secondSection{
  .block{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .image{
      position: absolute;
    }
  
    &:before{
      z-index: -1;
      content: "";
      position: absolute;
      height: 520px;
      width: 80%;
      max-width: 100%;
      display: block;
      opacity: 0.2;

      @media (max-width: 880px) {
        width: 100%;
        height: 100%;
      }

      @media (min-width: 1600px) {
        height: 670px;
      }

      @media (max-width: $mobileBrakepoint) {
        width: 100vw;
        left: 0;
      }
    }

    @media (max-width: 860px) {
      display: flex;
      flex-direction: column-reverse;
      height: auto !important;
        .image{
          position: relative;
        }

        .textBlockSecond{
          width: auto;
        }

        &::before{
          top: 130px;
          height: 428px;
        }
    }

    &.__first{
      height: 568px;
      justify-content: flex-end;
      margin-bottom: 200px;

      @media (min-width: 1600px) {
        height: 708px;
      }

      .image{
        left: -23px;

        @media (min-width: 860px) {
          width: 100%;
          height: 100%;
        }

        @media (max-width: 1300px) {
          top: -13px;
          img{
            width: 450px;
          } 
        }
        @media (max-width: 1100px) {
          top: -10px;
          img{
            width: 400px;
          } 
        }

        @media (min-width: 1600px) {
          img, svg {
            // transform: scale(1.3);
            width: 790px;
          } 
        }

        &.animate{
          @include leftPhoneFadeAnimation;
        }
      }

      &:before{
        left: 63px;

        @media (max-width: 880px) {
          left: 0px;
        }

        background: linear-gradient(90deg, #6DC8C2 0%, #F9F586 100%);
      }

      &.animate {
        .header, .subtitle{
          @include rightDrawTextAnimation;
        }

        &:before{
          @include backgroundAnimate1;
        }
      }


    }
    &.__second{
      height: 618px;

      @media (min-width: 1600px) {
        height: 768px;
      }
      .image{
        top: -93px;
        right: 65px;

        @media (min-width: 1600px) {
          img, svg {
            width: 550px
          } 
        }

        &.animate{
          @include rightPhoneFadeAnimation;
        }

        @media (max-width: 1300px) {
          top: -33px;
          @media (max-width: 860px) {
            left: 20px;
          }
          img{
            width: 320px;
          } 
        }
      }

      &:before{
        background: #4AD4CB;
        right:63px;

        @media (max-width: 860px) {
          right:auto;
        }

      }

      &.animate {
        .header, .subtitle{
          @include leftDrawTextAnimation;
        }

        &:before{
          @include backgroundAnimate1;
        }
      }

      @media (max-width: 860px) {
        margin-bottom: 48px;
      }
    }
  }

  .listContainer{
    @include h3-24-33;
    margin-bottom: 200px;

    @media (min-width: 1600px) {
      margin-top: 60px;
    }

    &.animate{
      @include rightDrawTextAnimation;
    }

    ul {
      display: flex;
      gap: 100px;
      flex-wrap: wrap;
      & > li{
        width:calc(50% - 50px);
        display: flex;
        align-items: center;

        img{
          margin-right: 24px;
          @media (max-width: 860px) {
           width: 86px;
          }

          @media (max-width: 500px) {
            width: 64px;
           }
        }
      }

      @media (max-width: 1080px) {
        gap: 48px;
        li{
          width: 100%;
        }
      }
    }
    
  }
}

// scroll section --------------

.scrollSection{
  margin-bottom: 240px;
  .block {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .scrollSticky {
      position: sticky;
      height: 580px;
      width: 50%;
      max-width: 680px;
      top: 200px;

      @media (min-width: 1600px) {
        img, svg {
          height: 760px
        } 
      }

      @media (max-width: 1000px) { 
        width: 100%;

        .scrollBackground{
          width: 100% !important;
        }
      }

      .scrollBackground {
        z-index: -1;
        top: 0;
        height: 520px;
        width: 840px;
        display: block;
        position: absolute;
        opacity: 0.2;
        left: 63px;
        background: linear-gradient(90deg, #6DC8C2 0%, #F9F586 100%);

        @media (min-width: 1400px) {
          width: 940px;
        }

        @media (min-width: 1500px) {
          width: 1040px;
        }

        @media (min-width: 1700px) {
          width: 1200px;
        }

        @media (min-width: 1600px) {
            height: 600px
        }

        @include backgroundAnimate1;
      }
    }

    .image{
      position: absolute;
      left: -83px;
      top: -79px;
      z-index: 1;

      &.animate{
          @include leftTabletFadeAnimation;
      }
    }

    .__scrollTextContainer {
      position: relative;
      padding-top: 140px;
      padding-bottom: 140px;

      .scrollBlock{
        min-height: 400px;
      }
    }

  }

  @media (max-width: 1020px) {
    .block{
      flex-direction: column;

      .scrollSticky{
        .scrollBackground{
          left: 0;
        }
      }

      .image{
        left: auto;
        top: -130px;
      }
    }
  }
}


// reviews -----------------------------------

.reviews{
  margin-bottom: 320px;

  .animate{
      @include reviewAnimations;
    
  }

  .reviewBlocks{
    position: relative;

    .reviewHeader{
      @include h2-32-46;
    }

    
    .reviewBlockContainer{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }


    .reviewBlock{
      padding: 48px 32px;
      position: relative;
      max-width: 370px;

      .reviewText{
        display: block;
        @include content-18-25;

      }

      .reviewPs{
        display: block;
        @include content-18-25;
        color: #000;
        opacity: 0.5;
      }

      .reviewImg{
        position: absolute;
        filter: drop-shadow(0px 13px 20px rgba(0, 0, 0, 0.15));
      }

      &.__review1{
        height: 600px;
        background: rgba(255, 231, 121,0.342);
        top: 108px;

        .reviewText{
          margin-bottom: 50px;
        }

        .reviewImg{
          bottom: 25px;
          right: -20px;
        }
      }

      &.__review2{
        height: 454px;
        background: rgba(109, 200, 194, 0.342);
        top: 300px;

        .reviewText{
          margin-top: 130px;
          margin-bottom: 50px;
        }

        .reviewImg{
          top: -98px;
          right: 10px;
        }
      }

      &.__review3{
        height: 560px;
        background: rgba(184, 216, 199, 0.342);
        top: -86px;

        .reviewText{
          margin-bottom: 50px;
        }

        .reviewImg{
          bottom: -61px;
          left: -16px;
        }
      }
    }
  }

  $tableBrakepoint: 1401px;
  $tableBrakepointMin: 1400px;

  @media (min-width: $tableBrakepointMin) { 
    .mobile{
      display: none;
    }

  }

  @media (max-width: $tableBrakepoint) { 
    margin-bottom: 80px;
    width: 100%;

      .notMobile{
        display: none  !important;
      }

      .mobile{
        display: block;
      }

      .reviewBlocks{

        .reviewBlock{
          width: 100%;
          max-width: auto;
          height: auto;
  
          .reviewImg{
            width: 320px;
            height: 200px;
          }
  
          .reviewText{
            text-align: left;
          }
  
          &.__review1{
            top: 60px;
            .reviewImg{
              bottom: 180px;
              right: 100px;
            }
          }

          &.__review2{
            top: 180px;
          }
  
          &.__review3{
            top: 40px;
            .reviewImg{
              bottom: 90px;
              left: 30px;
            }
          }
        }
      }
  }

}

// getStarted =============================================

.getStarted {
  margin-bottom: 200px;

  &.animate{
    @include getStartedAnimation;
  }

  .block{
    position: relative;
    height: 520px;
    display: flex;
    justify-content: flex-end;

    .formBlock{
      position: relative;
      height: 520px;
      width: 53%;
      right: 0;
      .content{
        max-width: 490px;

        .header{
          @include h2-32-46;
          margin-top: 57px;
          margin-bottom: 64px;
        }
        .title{
          @include h3-24-33;
          display: block;
          margin-bottom: 18px;
        }
      }

    }

    .image{
      position: absolute;
      top: 30px;
      left: 40px;
    }

    &:before{
      z-index: -1;
      content: "";
      position: absolute;
      height: 520px;
      width: 80%;
      display: block;
      opacity: 0.2;
      background: #4AD4CB;
      right:45px;

      @media (max-width: 860px) {
        width: 100%;
        right:0;

        top: 120px;
      }
      
    }

  }

  @media (max-width: 1220px) {
    .block{
      // flex-direction: column;
      // height: auto;


    }
  }

  @media (max-width: 1121px) {
    .block{
      .formBlock{
        width: 420px;

        @media (max-width: 840px) {
          width: 340px;
        }
      }
    }

    .image{
      width: 400px;
    }

    .formSubscription{
      flex-direction: column;
      align-items: center;

      .inputDefault{
        margin-right: 0;
      }

      .button{
        margin-top: 19px;
        width: 320px;
      }
    }
  }

  @media (max-width: 860px) {
    .block{
      flex-direction: column-reverse;
      align-items: center;
      height: initial;

      &:before{
        height: 100%;
      }

      .formBlock{
        width: 100%;
        height: initial;
        .content{
          max-width: initial;
          .title{
            text-align: center;
          }
        }
      }
      .image{
        position: relative;
        left: initial;
        img, svg{
          width: 380px;
        }
      }
    }


  }

}

.footer{

  .upper{
    background: rgba(199, 184, 248,0.342);
    padding: 23px 0;
    @include subtitle-24-33;
  }

  .lower {
    background-color: #333333;
    .content{
      padding: 58px 0 60px;
   
      .upperContent{
        position: relative;
        display: flex;
        justify-content: space-between;

        .imagesContainer{
          .socials{
            margin-top: 32px;
            margin-bottom: 40px;
            display: flex;
            & > * {
              margin-right: 18px;
            }
          }
        }

        .navigation{
          margin-top: 18px;
          @include footer-18-25;
          color: #fff;
          display: flex;
          justify-content: space-between;
          max-width: 380px;
          width: 30%;
        }

        .contacts{
          @include content-18-25;
          color: #fff;
          margin-top: 10px;

          span{
            display: flex;
            &:nth-child(n):not(:nth-child(1)){
              margin-top: 18px;
            }
            img{
              margin-right: 11px;
              
            }
          }
        }

        &:after{
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          bottom: 0;
          background: linear-gradient(90deg, #6DC8C2 0%, #F9F586 100%);
          opacity: 0.3;
        }
      }

      .lowerContent{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;

        .navigation{
          font-size: 14px;
          color: #fff;
          display: flex;
          opacity: 0.8;
          margin-left: 20px;

          span{
            cursor: pointer;

            &:nth-child(n):not(:nth-child(1)){
              margin-left: 71px;
            }

          }
        }

        .copyright{
          font-size: 14px;
          color: #fff;
          opacity: 0.8;
        }
      }

    }
  }
}
